body {
   color:rgb(247, 245, 244);
   background: #ffffff;
   margin: 0px; 
   font-family: "DM Sans", sans-serif;
   margin-bottom: 100px;
}

Header{
   border-bottom: solid 3px goldenrod;
   padding:20px;
   font-size: 30px;
   color:rgb(115, 4, 28);
}

.chamada{
   background: teal;
   padding-bottom: 80px;
   padding-top: 80px;
   display:flex;
   justify-content: center;
}

.chamada-texto{
   margin-right: 5%;
}

h1{
   font-size: 40px;
}
h2{
   color: black;
}

p{
   font-size: 20px;
}

.categoria-videos{
   display:flex;
   overflow-x: auto;
   gap: 20px;
}

.categoria{
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 50px;
}

.categoria-videos img {
   opacity: 0.7;
   height: 200px;
}


.categoria-videos img:hover  {
 opacity: 1.0;
 border: 3px solid goldenrod;
}

.categoria h2{
   background-color: black;
}
